.Location__residents img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.Location__residents__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.Location__residents__flex > div {
  flex-basis: 10em;
}
